.ant-typography {
  color: rgb(226, 106, 43) !important;
  font-size: 30px;
}
.ant-space {
  display: flex;
  justify-content: space-between;
}
.ant-space-item {
  display: flex;
  align-items: center;
}