.custom_button {
  color: #000000;
  border-color: #000000;
}

.custom_button:hover {
  border-color: #E26A2B !important;
  color: #E26A2B !important;
}

.ant-typogrsphy {
  color: #000000;
}
.story_author, ç.story_date {
  font-size: 25px;
}

.story_total-comments {
  font-size: 25px;
  margin-bottom: 30px;
}
.story_comments {
  justify-content: center;
}